= hidden_field_tag 'reveal_estimate_url', reveal_project_story_estimates_path(@story.project_id, @story.story_id)
= hidden_field_tag 'estimate_url', project_story_estimates_path(@story.project_id, @story.story_id)
= hidden_field_tag 'current_username', @user.username

.span12
  .row
    %h3.alert.alert-info
      = image_tag("https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/#{@story.story_type}.png")
      = @story.story_name
      - unless @story.description.blank?
        .alert.alert-message= @story.description
  .row
    %h3 Estimation Cards
    #estimates
      %p Please wait, retrieving estimates...
  .row
    #your_estimate
  .row
    %p Throw an estimate for this story:

    - @project.point_scale_array.each_with_index do |point, index|
      .well.span3
        %h2.availablePoint= point
        .availablePointButton= button_to("Throw", project_story_estimates_path(:user_project_id =>  @project.project_id, :story_id => @story.story_id, :user_id => @user.user_id, :estimate => point), :class => 'btn-large btn-primary')

.span12.last.prepend-top
  %h3 Set the Estimate on this Story in Pivotal Tracker

  #tracker_estimate
    %p Please wait, retrieving Pivotal Tracker estimate...

  = form_tag project_story_path(@project.project_id, @story.story_id), :method => :put do
    = label_tag('estimate')
    = select_tag('estimate', options_for_select(@project.point_scale_array.each_with_index, :selected => @story.estimate))
    = submit_tag('Set estimate in Pivotal Tracker')

  %p.prepend-top
    = link_to("Back to all stories", project_path(@project.project_id))
